/.scannerwork/
/sonar-project.properties

backend/node_modules/
backend/package-lock.json

frontend/node_modules/
frontend/package-lock.json
frontend/.next/

# Uploads directory
backend/uploads/

# Temporary files
backend/svelte-donation-platform@0.0.1
backend/vite
next/
backend/jest/
backend/__mocks__/
backend/applicant-ranking-backend@1.0.0
scholarship-selector-frontend@0.1.0
